@charset "UTF-8";

.hero-section{
	background-color: #d8ecac;
}

.partner-section{
	background-color: #ffb48c;
}

.title-primary{
	color: #3579ae;
}

.card-animate{
	box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    transition: all 0.3s;
}

.card-animate:hover{
    transform: scale(1.05);
}

.overlay{
	height: 100%;
	width: 100%;
	background: linear-gradient(transparent, #1c1c1c 58%);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.card-img-top{
	height: 300px;
	object-fit: cover;
}

.card-img-modal{
	height: 300px;
	object-fit: cover;
}

section{
	padding: 60px 0;
}

/* DASHBOARD */
.breed-section section{
	padding: 30px 0;
}


/* ICONS */
ion-icon .icon-home{
	color: #98acbc;
}


/* COLORS */

.fc-primary{
	color: #387cac;
}

.fc-primary1{
	color: #98acbc;
}

.fc-secondary{
	color: #ffb48c;
}

.bg-primary{
	background-color: #387cac;
}

.bg-secondary{
	background-color: #98acbc;
}

.bg-contact{
	background-color: #98acbc;
}

